@charset "UTF-8";

:root
{
    --hue-0: #FF0000;
    --hue-15: #FF4000;
    --hue-30: #FF8000;
    --hue-45: #FFBF00;
    --hue-60: #FFFF00;
    --hue-75: #BFFF00;
    --hue-90: #80FF00;
    --hue-105: #40FF00;
    --hue-120: #00FF00;
    --hue-135: #00FF40;
    --hue-150: #00FF80;
    --hue-165: #00FFBF;
    --hue-180: #00FFFF;
    --hue-195: #00BFFF;
    --hue-210: #0080FF;
    --hue-225: #0040FF;
    --hue-240: #0000FF;
    --hue-255: #4000FF;
    --hue-270: #8000FF;
    --hue-285: #BF00FF;
    --hue-300: #FF00FF;
    --hue-315: #FF00BF;
    --hue-330: #FF0080;
    --hue-345: #FF0040;
    --gray-0: #000000;
    --gray-14: #242424;
    --gray-29: #4A4A4A;
    --gray-43: #6E6E6E;
    --gray-57: #919191;
    --gray-71: #B5B5B5;
    --gray-85: #D9D9D9;
    --gray-100: #FFFFFF;
}
