@charset "UTF-8";
@import "/css/reset.css";
@import "/css/color.css";

*, *::before, *::after
{
    background-color: var(--gray-85);
    color: var(--gray-14);
}

del *, del *::before, del *::after
{
    display: none !important;
}

html
{
    overflow: hidden auto;
}

.nav
{
    background-color: var(--gray-14);
    display: inline-block;
    height: 4rem;
    text-align: center;
    width: 100%;
}

.nav-list
{
    align-items: center;
    background-color: inherit;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.nav-item
{
    align-items: center;
    background-color: inherit;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
}

.nav-link
{
    align-items: center;
    background-color: inherit;
    color: var(--gray-85);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.main
{
    display: inline-block;
    height: auto;
    width: 100%;
}

.title
{
    display: inline-block;
    font-size: 2rem;
    height: 4rem;
    margin: 16px auto;
    text-align: center;
    width: 100%;
}

.subtitle
{
    display: inline-block;
    font-size: 1.5rem;
    height: 4rem;
    margin: 16px auto;
    text-align: center;
    width: 100%;
}

.table
{
    box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: repeat(1, minmax(4rem, 1fr));
    grid-template-rows: repeat(5, minmax(8rem, 1fr));
    height: auto;
    margin: 64px auto;
    place-items: center;
    width: 80%;
}

.table-header
{
    display: grid;
    grid-template-columns: repeat(5, minmax(4rem, 1fr));
    grid-template-rows: repeat(1, minmax(8rem, 1fr));
    height: 100%;
    place-items: center;
    width: 100%;
}

.table-body
{
    display: grid;
    grid-row: 2 / span 3;
    grid-template-columns: repeat(5, minmax(4rem, 1fr));
    grid-template-rows: repeat(3, minmax(8rem, 1fr));
    height: 100%;
    place-items: center;
    width: 100%;
}

.table-footer
{
    display: grid;
    grid-template-columns: repeat(1, minmax(4rem, 1fr));
    grid-template-rows: repeat(1, minmax(8rem, 1fr));
    height: 100%;
    place-items: center;
    width: 100%;
}

.cell
{
    border: 1px solid var(--gray-57);
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
}

.empty
{
    color: var(--gray-57);
    display: grid;
    font-size: 1.5rem;
    grid-column: 1 / span 5;
    grid-row: 1 / span 3;
    height: 100%;
    place-items: center;
    width: 100%;
}

.collapse, .expand
{
    display: none;
}

.acks, .tech-stack, .version
{
    display: inline-block;
    height: auto;
    width: 100%;
}

.ack-content, .tech-stack-content, .version-content
{
    display: inline-block;
    height: auto;
    margin-left: 16px;
    text-align: left;
    white-space: pre-line;
    width: 100%;
}

.divider
{
    background-color: var(--gray-57);
    height: 1px;
    margin: 32px 0;
    width: 40%;
}

.outlink
{
    color: var(--hue-210);
    display: inline-block;
    height: auto;
    width: auto;
}

.btn
{
    transition: opacity 500ms ease-in-out 0ms;
}

.btn:hover
{
    cursor: pointer;
    opacity: 0.5;
}

.current:hover
{
    cursor: not-allowed;
}

.cell:hover
{
    background-color: var(--gray-71);
}
