@charset "UTF-8";
@import "./reset.css";

:root
{
    /* 24种均匀分布的色相 */
    --hue-0: #FF0000;
    --hue-15: #FF4000;
    --hue-30: #FF8000;
    --hue-45: #FFBF00;
    --hue-60: #FFFF00;
    --hue-75: #BFFF00;
    --hue-90: #80FF00;
    --hue-105: #40FF00;
    --hue-120: #00FF00;
    --hue-135: #00FF40;
    --hue-150: #00FF80;
    --hue-165: #00FFBF;
    --hue-180: #00FFFF;
    --hue-195: #00BFFF;
    --hue-210: #0080FF;
    --hue-225: #0040FF;
    --hue-240: #0000FF;
    --hue-255: #4000FF;
    --hue-270: #8000FF;
    --hue-285: #BF00FF;
    --hue-300: #FF00FF;
    --hue-315: #FF00BF;
    --hue-330: #FF0080;
    --hue-345: #FF0040;
    /* 8种均匀分布的灰度 */
    --gray-0: #000000;
    --gray-14: #242424;
    --gray-29: #4A4A4A;
    --gray-43: #6E6E6E;
    --gray-57: #919191;
    --gray-71: #B5B5B5;
    --gray-85: #D9D9D9;
    --gray-100: #FFFFFF;
}

*, *::before, *::after
{
    background-color: var(--gray-85);
    color: var(--gray-14);
}

del *, del *::before, del *::after
{
    display: none !important;
}

.nav
{
    background-color: var(--gray-14);
    display: inline-block;
    height: 4rem;
    text-align: center;
    width: 100%;
}

.nav-list
{
    align-items: center;
    background-color: inherit;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.nav-item
{
    background-color: inherit;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.nav-link
{
    background-color: inherit;
    color: var(--gray-85);
    display: inline-block;
    height: 100%;
    width: 100%;
}

.main
{
    display: inline-block;
    height: auto;
    width: 100%;
}

.title
{
    font-size: 2rem;
    height: 4rem;
    margin: 1rem auto;
    text-align: center;
    width: 100%;
}

.subtitle {
    font-size: 1.5rem;
    height: 4rem;
    margin: 1rem auto;
    text-align: center;
    width: 100%;
}

.table
{
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: repeat(5, minmax(4rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    place-items: center;
    width: 80%;
}

.collapse, .expand
{
    display: none;
}

.btn
{
    transition: opacity 500ms ease-in-out 0ms;
}

.btn:hover
{
    opacity: 0.5;
}
