@charset "UTF-8";
@import "./reset.css";

:root {
    --white: #FAFAFA;
    --light-grey: #C0C0C0;
    --grey: #808080;
    --dark-grey: #333333;
    --black: #111111;
}

*, *::before, *::after {
    background-color: var(--white);
    color: var(--dark-grey);
}

.nav {
    background-color: var(--dark-grey);
    display: inline-block;
    height: 4rem;
    width: 100%;
}

.nav-list {
    align-items: center;
    background-color: inherit;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.nav-item {
    background-color: inherit;
    height: 1rem;
    width: 2rem;
}

.nav-link {
    background-color: inherit;
    color: var(--white);
    height: 100%;
    width: 100%;
}

.main {
    display: inline-block;
    width: 100%;
}

.table {
    border: 0.25rem solid var(--black);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, minmax(4rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
    margin: 0 auto;
    border-radius: 0.5rem;
    place-items: center;
    width: 80%;
}

.collapse, .expand {
    display: none;
}

.btn {
    transition: opacity 500ms ease-in-out 0ms;
}

.btn:hover {
    opacity: 0.5;
}
